# dependencies
node_modules/

# next.js build
.next/
out/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env/secrets
.env
.env.*
!.env.example

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# optional: prisma generated
prisma/*.db
