--
-- PostgreSQL database dump
--

\restrict Ux3YPHFnicNlL3NEe2v4U31MDb8GG59VbB24apRuTI1aKLNMuKJwNlAAavh2yhC

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: DepositStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DepositStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."DepositStatus" OWNER TO postgres;

--
-- Name: NotificationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationStatus" AS ENUM (
    'UNREAD',
    'READ'
);


ALTER TYPE public."NotificationStatus" OWNER TO postgres;

--
-- Name: ProductStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProductStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'OUT_OF_STOCK'
);


ALTER TYPE public."ProductStatus" OWNER TO postgres;

--
-- Name: PurchaseStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PurchaseStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public."PurchaseStatus" OWNER TO postgres;

--
-- Name: TaskRunState; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TaskRunState" AS ENUM (
    'STARTED',
    'ASSIGNED',
    'SUBMITTED',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."TaskRunState" OWNER TO postgres;

--
-- Name: TransactionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionStatus" AS ENUM (
    'POSTED',
    'VOID'
);


ALTER TYPE public."TransactionStatus" OWNER TO postgres;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionType" AS ENUM (
    'CREDIT',
    'DEBIT',
    'REWARD',
    'COMMISSION',
    'ADMIN_ADJUSTMENT',
    'DEPOSIT',
    'WITHDRAWAL',
    'LUCKY_WHEEL',
    'TASK_DEPOSIT',
    'TASK_REFUND'
);


ALTER TYPE public."TransactionType" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'USER',
    'OPERATOR',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'BANNED'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

--
-- Name: WithdrawalStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WithdrawalStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'PROCESSING'
);


ALTER TYPE public."WithdrawalStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminAuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AdminAuditLog" (
    id text NOT NULL,
    "adminId" text NOT NULL,
    action text NOT NULL,
    "targetUserId" text,
    "beforeBalance" numeric(20,2),
    "afterBalance" numeric(20,2),
    note text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AdminAuditLog" OWNER TO postgres;

--
-- Name: ChatMessage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ChatMessage" (
    id text NOT NULL,
    "userId" text,
    message text NOT NULL,
    "isAdmin" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ChatMessage" OWNER TO postgres;

--
-- Name: DepositRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DepositRequest" (
    id text NOT NULL,
    "userId" text NOT NULL,
    amount numeric(20,2) NOT NULL,
    status public."DepositStatus" DEFAULT 'PENDING'::public."DepositStatus" NOT NULL,
    "paymentMethod" text,
    "paymentProof" text,
    note text,
    "adminNote" text,
    "processedBy" text,
    "processedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DepositRequest" OWNER TO postgres;

--
-- Name: LuckyWheelSpin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LuckyWheelSpin" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "wheelPrizeId" text,
    "prizeName" text NOT NULL,
    "prizeImage" text,
    "prizeType" text DEFAULT 'PRODUCT'::text NOT NULL,
    "prizeValue" numeric(20,2),
    "shippingAddress" text,
    "shippingPhone" text,
    "shippingName" text,
    "shippingStatus" text DEFAULT 'PENDING'::text NOT NULL,
    "isFreeSpin" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LuckyWheelSpin" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text,
    title text NOT NULL,
    message text NOT NULL,
    type text DEFAULT 'INFO'::text NOT NULL,
    status public."NotificationStatus" DEFAULT 'UNREAD'::public."NotificationStatus" NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(20,2) NOT NULL,
    "imageUrl" text,
    stock integer DEFAULT 0 NOT NULL,
    status public."ProductStatus" DEFAULT 'ACTIVE'::public."ProductStatus" NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: ProductPurchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProductPurchase" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    price numeric(20,2) NOT NULL,
    "totalAmount" numeric(20,2) NOT NULL,
    status public."PurchaseStatus" DEFAULT 'PENDING'::public."PurchaseStatus" NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductPurchase" OWNER TO postgres;

--
-- Name: SystemSettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SystemSettings" (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    description text,
    "updatedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SystemSettings" OWNER TO postgres;

--
-- Name: Task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Task" (
    id text NOT NULL,
    "vipLevelId" text NOT NULL,
    name text NOT NULL,
    description text,
    "basePrice" numeric(20,2) NOT NULL,
    "rewardRate" numeric(5,4) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Task" OWNER TO postgres;

--
-- Name: TaskProduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TaskProduct" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "imageUrl" text,
    "basePrice" numeric(20,2) NOT NULL,
    "vipLevelId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    stock integer DEFAULT 999999 NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TaskProduct" OWNER TO postgres;

--
-- Name: TaskRun; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TaskRun" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "taskId" text NOT NULL,
    "taskProductId" text,
    state public."TaskRunState" DEFAULT 'STARTED'::public."TaskRunState" NOT NULL,
    "assignedPrice" numeric(20,2),
    "commissionRate" numeric(5,4),
    "rewardAmount" numeric(20,2),
    "totalRefund" numeric(20,2),
    "idempotencyKey" text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone
);


ALTER TABLE public."TaskRun" OWNER TO postgres;

--
-- Name: Transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Transaction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."TransactionType" NOT NULL,
    amount numeric(20,2) NOT NULL,
    status public."TransactionStatus" DEFAULT 'POSTED'::public."TransactionStatus" NOT NULL,
    "referenceId" text,
    "idempotencyKey" text NOT NULL,
    description text NOT NULL,
    "createdBy" text,
    metadata jsonb,
    "balanceBefore" numeric(20,2) NOT NULL,
    "balanceAfter" numeric(20,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Transaction" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    email text,
    phone text,
    "passwordHash" text NOT NULL,
    "withdrawalPinHash" text,
    role public."UserRole" DEFAULT 'USER'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "inviteCode" text,
    "referredBy" text,
    balance numeric(20,2) DEFAULT 0 NOT NULL,
    "freeSpins" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: VipLevel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VipLevel" (
    id text NOT NULL,
    name text NOT NULL,
    "minBalance" numeric(20,2) NOT NULL,
    "commissionRate" numeric(5,4) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VipLevel" OWNER TO postgres;

--
-- Name: WheelPrize; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WheelPrize" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "imageUrl" text,
    "prizeType" text DEFAULT 'PRODUCT'::text NOT NULL,
    value numeric(20,2),
    probability numeric(5,4) NOT NULL,
    color text,
    "isActive" boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    stock integer DEFAULT 999999 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WheelPrize" OWNER TO postgres;

--
-- Name: WithdrawalRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WithdrawalRequest" (
    id text NOT NULL,
    "userId" text NOT NULL,
    amount numeric(20,2) NOT NULL,
    status public."WithdrawalStatus" DEFAULT 'PENDING'::public."WithdrawalStatus" NOT NULL,
    "bankName" text,
    "bankAccount" text,
    "bankAccountName" text,
    note text,
    "adminNote" text,
    "processedBy" text,
    "processedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WithdrawalRequest" OWNER TO postgres;

--
-- Data for Name: AdminAuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AdminAuditLog" (id, "adminId", action, "targetUserId", "beforeBalance", "afterBalance", note, metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: ChatMessage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ChatMessage" (id, "userId", message, "isAdmin", "createdAt") FROM stdin;
cmjcizic400068hi2nq32bwej	cmjccnuf4000111grqchnlj30	ch├áo	f	2025-12-19 07:05:58.419
\.


--
-- Data for Name: DepositRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DepositRequest" (id, "userId", amount, status, "paymentMethod", "paymentProof", note, "adminNote", "processedBy", "processedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LuckyWheelSpin; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, "userId", title, message, type, status, "createdBy", "createdAt", "updatedAt") FROM stdin;
cmjckru7y0001g4a8xdgr44wo	\N	dfdf	dfdfd	INFO	UNREAD	cmjccnuf4000111grqchnlj30	2025-12-19 07:55:59.776	2025-12-19 07:55:59.776
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Product" (id, name, description, price, "imageUrl", stock, status, "sortOrder", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ProductPurchase; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProductPurchase" (id, "userId", "productId", quantity, price, "totalAmount", status, note, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SystemSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Task; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TaskProduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TaskProduct" (id, name, description, "imageUrl", "basePrice", "vipLevelId", "isActive", stock, "sortOrder", "createdAt", "updatedAt") FROM stdin;
cmjccpi6c000511grix68ifwp	1111	111111	/uploads/products/1766117410571-tavw31.jpg	222.00	\N	t	999991	1	2025-12-19 04:10:13.957	2025-12-19 08:25:12.252
\.


--
-- Data for Name: TaskRun; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: VipLevel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VipLevel" (id, name, "minBalance", "commissionRate", "isActive", "sortOrder", "createdAt", "updatedAt") FROM stdin;
cmjccykx00000ux222rstuutx	Th├ánh vi├¬n	0.00	0.0050	t	1	2025-12-19 04:17:17.413	2025-12-19 04:17:17.413
cmjccykxg0001ux226hb4vkje	Th├ánh vi├¬n V├áng	1000.00	0.0100	t	2	2025-12-19 04:17:17.428	2025-12-19 04:17:17.428
cmjccykxn0002ux221f8atia7	Th├ánh vi├¬n Bß║íc	5000.00	0.0150	t	3	2025-12-19 04:17:17.435	2025-12-19 04:17:17.435
cmjccykxu0003ux22r6btbzlm	Th├ánh vi├¬n Kim C╞░╞íng	10000.00	0.0200	t	4	2025-12-19 04:17:17.442	2025-12-19 04:17:17.442
\.


--
-- Data for Name: WheelPrize; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WithdrawalRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WithdrawalRequest" (id, "userId", amount, status, "bankName", "bankAccount", "bankAccountName", note, "adminNote", "processedBy", "processedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: AdminAuditLog AdminAuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdminAuditLog"
    ADD CONSTRAINT "AdminAuditLog_pkey" PRIMARY KEY (id);


--
-- Name: ChatMessage ChatMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatMessage"
    ADD CONSTRAINT "ChatMessage_pkey" PRIMARY KEY (id);


--
-- Name: DepositRequest DepositRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepositRequest"
    ADD CONSTRAINT "DepositRequest_pkey" PRIMARY KEY (id);


--
-- Name: LuckyWheelSpin LuckyWheelSpin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LuckyWheelSpin"
    ADD CONSTRAINT "LuckyWheelSpin_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: ProductPurchase ProductPurchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductPurchase"
    ADD CONSTRAINT "ProductPurchase_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: SystemSettings SystemSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SystemSettings"
    ADD CONSTRAINT "SystemSettings_pkey" PRIMARY KEY (id);


--
-- Name: TaskProduct TaskProduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TaskProduct"
    ADD CONSTRAINT "TaskProduct_pkey" PRIMARY KEY (id);


--
-- Name: TaskRun TaskRun_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TaskRun"
    ADD CONSTRAINT "TaskRun_pkey" PRIMARY KEY (id);


--
-- Name: Task Task_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_pkey" PRIMARY KEY (id);


--
-- Name: Transaction Transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VipLevel VipLevel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VipLevel"
    ADD CONSTRAINT "VipLevel_pkey" PRIMARY KEY (id);


--
-- Name: WheelPrize WheelPrize_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WheelPrize"
    ADD CONSTRAINT "WheelPrize_pkey" PRIMARY KEY (id);


--
-- Name: WithdrawalRequest WithdrawalRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WithdrawalRequest"
    ADD CONSTRAINT "WithdrawalRequest_pkey" PRIMARY KEY (id);


--
-- Name: AdminAuditLog_adminId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AdminAuditLog_adminId_idx" ON public."AdminAuditLog" USING btree ("adminId");


--
-- Name: AdminAuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AdminAuditLog_createdAt_idx" ON public."AdminAuditLog" USING btree ("createdAt");


--
-- Name: AdminAuditLog_targetUserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AdminAuditLog_targetUserId_idx" ON public."AdminAuditLog" USING btree ("targetUserId");


--
-- Name: ChatMessage_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ChatMessage_createdAt_idx" ON public."ChatMessage" USING btree ("createdAt");


--
-- Name: ChatMessage_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ChatMessage_userId_idx" ON public."ChatMessage" USING btree ("userId");


--
-- Name: DepositRequest_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DepositRequest_createdAt_idx" ON public."DepositRequest" USING btree ("createdAt");


--
-- Name: DepositRequest_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DepositRequest_status_idx" ON public."DepositRequest" USING btree (status);


--
-- Name: DepositRequest_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DepositRequest_userId_idx" ON public."DepositRequest" USING btree ("userId");


--
-- Name: LuckyWheelSpin_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LuckyWheelSpin_createdAt_idx" ON public."LuckyWheelSpin" USING btree ("createdAt");


--
-- Name: LuckyWheelSpin_shippingStatus_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LuckyWheelSpin_shippingStatus_idx" ON public."LuckyWheelSpin" USING btree ("shippingStatus");


--
-- Name: LuckyWheelSpin_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LuckyWheelSpin_userId_idx" ON public."LuckyWheelSpin" USING btree ("userId");


--
-- Name: LuckyWheelSpin_wheelPrizeId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LuckyWheelSpin_wheelPrizeId_idx" ON public."LuckyWheelSpin" USING btree ("wheelPrizeId");


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_status_idx" ON public."Notification" USING btree (status);


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: ProductPurchase_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProductPurchase_createdAt_idx" ON public."ProductPurchase" USING btree ("createdAt");


--
-- Name: ProductPurchase_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProductPurchase_productId_idx" ON public."ProductPurchase" USING btree ("productId");


--
-- Name: ProductPurchase_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProductPurchase_status_idx" ON public."ProductPurchase" USING btree (status);


--
-- Name: ProductPurchase_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProductPurchase_userId_idx" ON public."ProductPurchase" USING btree ("userId");


--
-- Name: Product_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_createdAt_idx" ON public."Product" USING btree ("createdAt");


--
-- Name: Product_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_sortOrder_idx" ON public."Product" USING btree ("sortOrder");


--
-- Name: Product_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_status_idx" ON public."Product" USING btree (status);


--
-- Name: SystemSettings_key_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SystemSettings_key_idx" ON public."SystemSettings" USING btree (key);


--
-- Name: SystemSettings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SystemSettings_key_key" ON public."SystemSettings" USING btree (key);


--
-- Name: TaskProduct_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TaskProduct_isActive_idx" ON public."TaskProduct" USING btree ("isActive");


--
-- Name: TaskProduct_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TaskProduct_sortOrder_idx" ON public."TaskProduct" USING btree ("sortOrder");


--
-- Name: TaskProduct_vipLevelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TaskProduct_vipLevelId_idx" ON public."TaskProduct" USING btree ("vipLevelId");


--
-- Name: TaskRun_idempotencyKey_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TaskRun_idempotencyKey_key" ON public."TaskRun" USING btree ("idempotencyKey");


--
-- Name: TaskRun_state_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TaskRun_state_idx" ON public."TaskRun" USING btree (state);


--
-- Name: TaskRun_taskId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TaskRun_taskId_idx" ON public."TaskRun" USING btree ("taskId");


--
-- Name: TaskRun_taskProductId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TaskRun_taskProductId_idx" ON public."TaskRun" USING btree ("taskProductId");


--
-- Name: TaskRun_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TaskRun_userId_createdAt_idx" ON public."TaskRun" USING btree ("userId", "createdAt");


--
-- Name: Task_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Task_isActive_idx" ON public."Task" USING btree ("isActive");


--
-- Name: Task_vipLevelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Task_vipLevelId_idx" ON public."Task" USING btree ("vipLevelId");


--
-- Name: Transaction_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Transaction_createdAt_idx" ON public."Transaction" USING btree ("createdAt");


--
-- Name: Transaction_idempotencyKey_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Transaction_idempotencyKey_key" ON public."Transaction" USING btree ("idempotencyKey");


--
-- Name: Transaction_referenceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Transaction_referenceId_idx" ON public."Transaction" USING btree ("referenceId");


--
-- Name: Transaction_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Transaction_status_idx" ON public."Transaction" USING btree (status);


--
-- Name: Transaction_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Transaction_type_idx" ON public."Transaction" USING btree (type);


--
-- Name: Transaction_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Transaction_userId_createdAt_idx" ON public."Transaction" USING btree ("userId", "createdAt");


--
-- Name: User_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_createdAt_idx" ON public."User" USING btree ("createdAt");


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_inviteCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_inviteCode_idx" ON public."User" USING btree ("inviteCode");


--
-- Name: User_inviteCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_inviteCode_key" ON public."User" USING btree ("inviteCode");


--
-- Name: User_phone_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_phone_idx" ON public."User" USING btree (phone);


--
-- Name: User_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_phone_key" ON public."User" USING btree (phone);


--
-- Name: User_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_username_idx" ON public."User" USING btree (username);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: VipLevel_minBalance_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "VipLevel_minBalance_idx" ON public."VipLevel" USING btree ("minBalance");


--
-- Name: VipLevel_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VipLevel_name_key" ON public."VipLevel" USING btree (name);


--
-- Name: VipLevel_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "VipLevel_sortOrder_idx" ON public."VipLevel" USING btree ("sortOrder");


--
-- Name: WheelPrize_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WheelPrize_isActive_idx" ON public."WheelPrize" USING btree ("isActive");


--
-- Name: WheelPrize_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WheelPrize_sortOrder_idx" ON public."WheelPrize" USING btree ("sortOrder");


--
-- Name: WithdrawalRequest_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WithdrawalRequest_createdAt_idx" ON public."WithdrawalRequest" USING btree ("createdAt");


--
-- Name: WithdrawalRequest_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WithdrawalRequest_status_idx" ON public."WithdrawalRequest" USING btree (status);


--
-- Name: WithdrawalRequest_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WithdrawalRequest_userId_idx" ON public."WithdrawalRequest" USING btree ("userId");


--
-- Name: AdminAuditLog AdminAuditLog_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdminAuditLog"
    ADD CONSTRAINT "AdminAuditLog_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AdminAuditLog AdminAuditLog_targetUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdminAuditLog"
    ADD CONSTRAINT "AdminAuditLog_targetUserId_fkey" FOREIGN KEY ("targetUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ChatMessage ChatMessage_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatMessage"
    ADD CONSTRAINT "ChatMessage_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DepositRequest DepositRequest_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepositRequest"
    ADD CONSTRAINT "DepositRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LuckyWheelSpin LuckyWheelSpin_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LuckyWheelSpin"
    ADD CONSTRAINT "LuckyWheelSpin_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LuckyWheelSpin LuckyWheelSpin_wheelPrizeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LuckyWheelSpin"
    ADD CONSTRAINT "LuckyWheelSpin_wheelPrizeId_fkey" FOREIGN KEY ("wheelPrizeId") REFERENCES public."WheelPrize"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductPurchase ProductPurchase_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductPurchase"
    ADD CONSTRAINT "ProductPurchase_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductPurchase ProductPurchase_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductPurchase"
    ADD CONSTRAINT "ProductPurchase_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskProduct TaskProduct_vipLevelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TaskProduct"
    ADD CONSTRAINT "TaskProduct_vipLevelId_fkey" FOREIGN KEY ("vipLevelId") REFERENCES public."VipLevel"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TaskRun TaskRun_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TaskRun"
    ADD CONSTRAINT "TaskRun_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskRun TaskRun_taskProductId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TaskRun"
    ADD CONSTRAINT "TaskRun_taskProductId_fkey" FOREIGN KEY ("taskProductId") REFERENCES public."TaskProduct"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TaskRun TaskRun_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TaskRun"
    ADD CONSTRAINT "TaskRun_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Task Task_vipLevelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_vipLevelId_fkey" FOREIGN KEY ("vipLevelId") REFERENCES public."VipLevel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Transaction Transaction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WithdrawalRequest WithdrawalRequest_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WithdrawalRequest"
    ADD CONSTRAINT "WithdrawalRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Ux3YPHFnicNlL3NEe2v4U31MDb8GG59VbB24apRuTI1aKLNMuKJwNlAAavh2yhC

